force-app/main/default/flows/AdicionarPontosCasoTipoSinistro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>VerificarPontos</name>
        <label>Verificar Pontos</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>ZerarPontos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Zerar Pontos</defaultConnectorLabel>
        <rules>
            <name>DebitarPontos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PegarBonus.Pontos__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubtrairPontos</targetReference>
            </connector>
            <label>Debitar Pontos</label>
        </rules>
    </decisions>
    <description>Adicionar 100 pontos de Bonus se o caso for do tipo &quot;Sinistro&quot; e for fechado, e verificar pontos se zera ou subtrai</description>
    <formulas>
        <name>formulaPontos</name>
        <dataType>Number</dataType>
        <expression>{!PegarBonus.Pontos__c} - 100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Adicionar Pontos caso o Tipo seja Sinistro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Debitar Pontos caso o Tipo seja Sinistro</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>PegarBonus</name>
        <label>Pegar Bonus</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificarPontos</targetReference>
        </connector>
        <filters>
            <field>Conta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PegarConta.Id</elementReference>
            </value>
        </filters>
        <object>Bonus__c</object>
    </recordLookups>
    <recordLookups>
        <name>PegarConta</name>
        <label>Pegar Conta</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PegarBonus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordUpdates>
        <name>SubtrairPontos</name>
        <label>Subtrair Pontos</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filters>
            <field>Pontos__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Pontos__c</field>
            <value>
                <elementReference>formulaPontos</elementReference>
            </value>
        </inputAssignments>
        <object>Bonus__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ZerarPontos</name>
        <label>Zerar Pontos</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filters>
            <field>Pontos__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Pontos__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Bonus__c</object>
    </recordUpdates>
    <startElementReference>PegarConta</startElementReference>
    <status>Active</status>
</Flow>
